// -----------------------------------------------------------------------------
// Search - contains all styles related to the search box
// -----------------------------------------------------------------------------

.search {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    @include flexbox();
   

    input,
    button {
        padding: $input-padding;
        border: 0;
        background: transparent;
    }

    /* Search input 
-------------------------------------------------- */
    input {
      @include flex(1);

    }


    /* Search button
-------------------------------------------------- */
    button {
        cursor: pointer;
    }
}
