<vds-page-header [title]="title"></vds-page-header>
<vds-dropdown label="Dropdown box" btnClass="is-outlined">
    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
    rhoncus ut, imperdiet a, venenatis vitae, justo.
  </vds-dropdown>
  <vds-dropdown label="Dropdown menu" btnClass="is-warning">
    <ul class="dropdown-menu" role="menu">
      <li><a href="settings.html" role="menuitem">Einstelungen</a></li>
      <li><a href="about.html" role="menuitem">Über</a></li>
      <li><a href="login.html" role="menuitem">Logout</a></li>
  
    </ul>
  </vds-dropdown>

