// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------
#header {
  z-index: $zindex-header;
  height: $header-h;
  padding: $spacing;
  

  @include mqMin($break-l) {

    height: $header-h-l;
    padding: $spacing $spacing-double;
  }

  >section {

    @include displayFlex();
    @include justifyContent(space-between);
    @include alignItems(center);
    height: 100%;
    @include mqMin($break-l) {
      margin: 0 auto;
      //width: $container-max-w;
    }

  }

}

/* Sticky header
-------------------------------------------------- */
.sticky-header {
  #header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  #page {
    padding-top: $header-h;

    @include mqMin($break-l) {
      padding-top: $header-h-l;
    }
  }
}