// -----------------------------------------------------------------------------
// Panel Card - contains all styles related to the form.
// -----------------------------------------------------------------------------

/* Legend
-------------------------------------------------- */

legend {
  color: lighten($font-color, 10%);
  display: block;
  width: 100%;
  font-size: 105%;
  font-style: italic;
  margin-bottom: $spacing;
  border-bottom: 1px solid $border-color;
}
/* Fieldset
-------------------------------------------------- */
fieldset {
  margin: 0 0 $spacing 0;
  padding: 0;
  border: 0;
}

/* Label
-------------------------------------------------- */
label {
  //margin: $spacing $spacing-half;
  //display: block;
  font-size: 100%;
  max-width: 100%;
  margin: 0 $spacing 0 0;

  &.is-required {
    font-weight: bold;
  }

  &.is-required::before {
    content: "*";
  }
}

/* Form list
-------------------------------------------------- */

.form-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin-bottom: $spacing-double;
  }

  @include mqMin($break-m + 1) {
    .inline-min-m {
      @include flexbox();
      @include align-items(flex-start);
      @include justify-content(space-between);

      > :first-child {
        width: 30%;
        padding-right: $spacing;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.form-errors {
  width: 100%;
  display: block;

  > * {
    color: $danger-color;
    clear: left;
    display: block;
    margin-top: $spacing-half;
  }
}
