<nav>
  <ul class="aside-menu">
     <!-- NGKit -->
     <li class="root-menu">
        <h4 title="Components"><i class="fas fa-pen-nib"></i> <span>NgKit</span></h4>
        <ul class="submenu">
          <li><a [routerLink]="['/ngkit/blank']" [routerLinkActive]="['link-active']">Blank state</a></li>
          <li><a [routerLink]="['/ngkit/notify']" [routerLinkActive]="['link-active']">Notify</a></li>
          <li><a [routerLink]="['/ngkit/alert']" [routerLinkActive]="['link-active']">Alert</a></li>
          <li><a [routerLink]="['/ngkit/accordion']" [routerLinkActive]="['link-active']">Accordion</a></li>
          <li><a [routerLink]="['/ngkit/modal']" [routerLinkActive]="['link-active']">Modal window</a></li>
          <li><a [routerLink]="['/ngkit/confirm']" [routerLinkActive]="['link-active']">Confirm dialog</a></li>
          <li><a [routerLink]="['/ngkit/dropdown']" [routerLinkActive]="['link-active']">Dropdown</a></li>
          <li><a [routerLink]="['/ngkit/tab']" [routerLinkActive]="['link-active']">Tab</a></li>
          <li><a [routerLink]="['/ngkit/tooltip']" [routerLinkActive]="['link-active']">Tooltip</a></li>
        </ul>
      </li>
  </ul>
</nav>