/* Typo
-------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: normal;
  margin-top: $spacing;
  margin-bottom: $spacing-half;
  line-height: 1;
}

h1 {
  // Font size for medium devices
  @include mqMin($break-s) {
    font-size: $h1-font-size-s;
  }

  // Font size for lmedium devices
  @include mqMin($break-m) {
    font-size: $h1-font-size-m;
  }

  // Font size for large devices
  @include mqMin($break-l) {
    font-size: $h1-font-size-l;
  }
}

h2 {
   // Font size for medium devices
   @include mqMin($break-s) {
    font-size: $h2-font-size-s;
  }

  // Font size for lmedium devices
  @include mqMin($break-m) {
    font-size: $h2-font-size-m;
  }

  // Font size for large devices
  @include mqMin($break-l) {
    font-size: $h2-font-size-l;
  }
}

h3 {
   // Font size for medium devices
   @include mqMin($break-s) {
    font-size: $h3-font-size-s;
  }

  // Font size for lmedium devices
  @include mqMin($break-m) {
    font-size: $h3-font-size-m;
  }

  // Font size for large devices
  @include mqMin($break-l) {
    font-size: $h3-font-size-l;
  }
}

h4 {
  // Font size for medium devices
  @include mqMin($break-s) {
    font-size: $h4-font-size-s;
  }

  // Font size for lmedium devices
  @include mqMin($break-m) {
    font-size: $h4-font-size-m;
  }

  // Font size for large devices
  @include mqMin($break-l) {
    font-size: $h4-font-size-l;
  }
}

h5 {
   // Font size for medium devices
   @include mqMin($break-s) {
    font-size: $h5-font-size-s;
  }

  // Font size for lmedium devices
  @include mqMin($break-m) {
    font-size: $h5-font-size-m;
  }

  // Font size for large devices
  @include mqMin($break-l) {
    font-size: $h5-font-size-l;
  }
}

h6 {
   // Font size for medium devices
   @include mqMin($break-s) {
    font-size: $h6-font-size-s;
  }

  // Font size for lmedium devices
  @include mqMin($break-m) {
    font-size: $h6-font-size-m;
  }

  // Font size for large devices
  @include mqMin($break-l) {
    font-size: $h6-font-size-l;
  }
}

a {
  color: $a-color;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: $a-hover-color;
  text-decoration: underline;
}
