// -----------------------------------------------------------------------------
// Panel Card - contains all styles related to the form.
// -----------------------------------------------------------------------------

/* Legend
-------------------------------------------------- */

legend {
  color: lighten($font-color, 10%);
  display: block;
  width: 100%;
  font-size: 105%;
  font-style: italic;
  margin-bottom: $spacing;
  border-bottom: 1px solid $border-color;
}
/* Fieldset
-------------------------------------------------- */
fieldset {
  margin: 0 0 $spacing 0;
  padding: 0;
  border: 0;
}

/* Label
-------------------------------------------------- */
label {
  margin: $spacing $spacing-half;
  display: block;
  font-size: 100%;
  max-width: 100%;
  margin: 0 0 $spacing-half 0;

  &.is-required {
    font-weight: bold;
  }

  &.is-required::before {
    content: "*";
  }

  &.error {
    color: $danger-color;
    clear: left;
    display: block;
    margin-top: $spacing-half;
    /*  position: absolute;
    top: 7rem;
    left: 0; */
  }
}