// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

// Base font size
// We are defining a base font-size of 62.5% to have the convenience 
// of sizing rems in a way that is similar to using px.
$base-font-size: 62.5%;
$body-font-size: 1.4rem;

$font-sans-serif: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
$font-serif: Georgia, "Bitstream Charter", serif;
$font-monospace: "Courier New",Courier, monospace;
$font-family: $font-sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$line-height: 1.2;

$h1-font-size: 2.2rem;
$h2-font-size: 2rem;
$h3-font-size: 1.8rem;
$h4-font-size: 1.6rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.4rem;