<vds-page-header [title]="title"></vds-page-header>
<vds-accordion-group>
    <vds-accordion title="This is title 1" classList="has-border padding">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </vds-accordion>
  
    <vds-accordion title="This is title 2" classList="has-border padding">
      <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
        Aenean vulputate eleifend tellus.</p>
    </vds-accordion>
  
    <vds-accordion title="This is title 3" classList="has-border padding">
      <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
        quis, feugiat a, tellus.</p>
    </vds-accordion>
  </vds-accordion-group>
