// -----------------------------------------------------------------------------
// Texty inputs - contains all styles related to the texty inputs
// -----------------------------------------------------------------------------

/* Texty inputs and textarea
-------------------------------------------------- */

#{$input-type-text} {
  display: block;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  width: 100%;
  background-color: $input-bcg-color;
  padding: $input-padding;
  color: $input-color;

  &:focus {
    outline: 0;
    border-color: $focus-color;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $input-bcg-disabled-color;
    color: $disabled-color;
  }

  &:focus:invalid {
    color: $danger-color;
    border-color: $danger-color;
  }
  &:read-only {
    background-color: $input-bcg-disabled-color;
  }
}

/* Placeholder
-------------------------------------------------- */
@include placeholder($placeholder-color);

