
// -----------------------------------------------------------------------------
// Off canvas mixin
// -----------------------------------------------------------------------------

/* Base
-------------------------------------------------- */
@mixin offcanvas() {
  position: fixed;
  overflow: hidden; //overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  z-index: $zindex-modal;
  background-color: $overlay-bcg-color;
  transition: transform .3s ease-in;
  width: 100%;
  //width: 80%;
  >* {
    height: 100%;
    width:80%;
    padding: $spacing;
    background-color:$white;
    margin-right: 20%;
  }
}

/* Slide canvas to right
-------------------------------------------------- */
@mixin offcanvasToRight() {
  transform: translateX(100%);
    left: auto;
    right: 0;
    >* {
      margin-left: 20%;
      margin-right: 0;
    }
}

/* Canvas is on
-------------------------------------------------- */
@mixin offcanvasIsOn() {
  transform: translateX(0);
    transition: transform .3s ease-out;
}

