<vds-page-header [title]="title"></vds-page-header>
<button class="button is-info" (click)="openModal('custom-modal-1')">Open Modal 1</button>
<button class="button is-success" (click)="openModal('custom-modal-2')">Open Confirm</button>

<vds-modal id="custom-modal-1" title="This is modal title">
  <div body>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>

    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
      ultricies nec, pellentesque eu, pretium quis, sem.</p>

    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
      justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>

    <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
      Aenean vulputate eleifend tellus.</p>

    <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
      quis, feugiat a, tellus.</p>
  </div>
  <div footer>
    <button class="button is-info" (click)="closeModal('custom-modal-1')">Send notify</button>
  </div>
</vds-modal>

<vds-modal id="custom-modal-2" classList="is-confirm">
  <div body>Are you sure you want to delete this?</div>
  <div footer>
    <button class="button" (click)="closeModal('custom-modal-2')">No</button>
    <button class="button is-info" (click)="closeModal('custom-modal-2')">Yes</button>
  </div>
</vds-modal>
