// -----------------------------------------------------------------------------
// Dimensions
// -----------------------------------------------------------------------------

// Container max width
$container-max-w: 1200px;

// Header
$header-h: 5rem;
$header-h-s: 5rem;//TODO: deprecated
$header-h-l: 7rem;
