// -----------------------------------------------------------------------------
// Z-index
// -----------------------------------------------------------------------------

$zindex-modal: 4100;
$zindex-canvas: 3100;
$zindex-overlay: 3000;
$zindex-nav-header: 2900;
$zindex-tooltip: 2300;
$zindex-dropdown: 2200;
$zindex-header: 2100;
$zindex-sidebar-l: 2000;