/* Aside left
-------------------------------------------------- */

/* New
-------------------------------------------------- */
app-aside-left{
  @include boxShadow($box-shadow);
  background-color: $primary-color-80;
  color: $primary-color-40;
 h4,a{
    color: $primary-color-40;
  }
  
}
@include mqMax($break-m - 1) {
 
  .aside-expanded-true{
    app-aside-left {
      background-color: $bcg-color;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 70%;
      z-index: $zindex-canvas;

      >section {
        padding: $spacing;
      }
    }
    
  }
}

.aside-expanded-false{
  app-aside-left {
    display: none;
  }
}

/* Old
-------------------------------------------------- */
#asideLeft {
  .is-cancel{
    color: $primary-color-10;
  }

  /* >section {
    overflow-y: auto;
  } */
  .aside-menu {
    color: $primary-color-20;

    h4 {
      color: $primary-color-20;

      a {
        color: $primary-color-20;

        &:hover {
          text-decoration: none;
        }
      }

      em {
        font-style: normal;
      }
    }

    .divider {
      //margin: -$spacing 0 $spacing 0;
      border-top: solid 1px $primary-color-90;
      border-bottom: solid 1px $primary-color-70;
    }
  }

}
/* All devices
-------------------------------------------------- */
 /* Layout with large aside navigation */
 .aside-active {
  #asideLeft {
    .root-menu {
      padding-bottom: $spacing;
      margin-bottom: $spacing;

      //border-bottom: solid 1px $primary-color-60;
      &.link-active {
        //padding: $spacing 0;
        //background-color: $secondary-color;
      }

      h4 {
        text-transform: uppercase;
        color: $primary-color-30;

        //font-size: 110%;
        .fas {
          padding-right: $spacing;
          color: $primary-color-40;
          font-size: 150%;
        }

      }

     .link-active {
          color: $secondary-color;

          .fas {
            color: $secondary-color;
            padding-right: $spacing-half;
          }
      }
    }

    .divider {
      margin: -$spacing 0 $spacing 0;
    }

    .submenu {
      >li {
        padding: $spacing-half $spacing $spacing-half $spacing-quad;

        &:hover {
          background-color: $primary-color-70;
        }

        &.current-page {
          background-color: $primary-color-60;
        }

        a {
          color: $primary-color-20;

          &:hover {
            text-decoration: none;
          }

        }

      }
    }

  }
}


/* Small devices
-------------------------------------------------- */
@include mqMax($break-m - 1) {
  .aside-inactive {
    #asideLeft {
      display: none;
    }
  }

  .aside-l {
    #asideLeft {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 70%;
      z-index: $zindex-canvas;

      >section {
        padding: $spacing;
      }

      .submenu {
        >li {
          font-size: 110%;
          padding-left: $spacing-double;
          margin-bottom: $spacing-half;
        }
      }
    }



  }

}

/* Large devices
-------------------------------------------------- */
@include mqMin($break-m) {
 

  /* Layout with small aside navigation */
  .aside-inactive {
    .aside-menu {
      text-align: center;
      margin-top: $spacing-triple;

      .root-menu {
        //margin-bottom: $spacing-third;
        padding: $spacing-double $spacing;
        position: relative;

        &.link-active {
          background-color: $secondary-color;
        }

        &:hover:not(.link-active) {
          background-color: $primary-color-80;
        }
      }

      h4 {

        em {
          display: none;
        }

        .fas {
          font-size: 150%;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
      }

      .divider {
        // margin: -$spacing-third 0 $spacing-double 0;
      }

      .submenu {
        z-index: $zindex-dropdown;
        display: none;
        position: absolute;
        top: 1.5rem;
        left: 7rem;
        text-align: left;
        background-color: $primary-color-10;
        min-width: 25rem;
        padding: $spacing;
        @include boxShadow($box-shadow);

        /* Arrow */
        &::after {
          content: " ";
          position: absolute;
          border-width: $spacing/2;
          border-style: solid;
          top: 10%;
          right: 100%;
          margin-top: -$spacing/2;
          border-color: transparent $primary-color-90 transparent transparent;
        }

        >li {

          margin-bottom: $spacing;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            display: block;
            padding: 0 $spacing;


            &:hover {
              background-color: $primary-color-20;
              text-decoration: none;
            }
          }

          &:last-child {
            //border-bottom: 0;

          }
        }

        &.is-on {
          display: block;
        }
      }

    }

  }
}