/* Header
-------------------------------------------------- */

#header {
  z-index: $zindex-header;
  height: $header-h;
  background-color: $primary-color-20;
 // padding: $spacing;

  @include mqMin($break-l) {
    height: $header-h-l;
    //padding: $spacing $spacing-double;
  }

  >section {
    @include displayFlex();
    @include justifyContent(space-between);
    @include alignItems(center);
   
    //flex: 1 0 auto;
    height: 100%;
   /*  >*{
      flex: 1 0 auto;
    } */
  }

}

#headerBrand {
 @include displayFlex();
  @include alignItems(center); 
  //@include justifyContent(space-between);
 
  /* height: $header-h;
  line-height: $header-h; */
  padding: 0 $spacing;
  
  @include mqMin($break-l) {
    height: $header-h-l;
    line-height: $header-h-l;
   
  }
 
 /*  @include displayFlex();
  @include justifyContent(space-between);
  @include alignItems(center); */

  app-aside-toggler{
    .fa-bars{
      color: $primary-color-70;
      line-height: $header-h-l;
      margin-right: $spacing-double;
      font-size: 140%;
    }
  }
}

.aside-expanded-true{
  #headerBrand {
    @include mqMin($break-l) {
      width: 15%;
      @include boxShadow($box-shadow);
      background-color: $primary-color-90;
      color: $primary-color-30;
     
     
    }
    app-aside-toggler{
      .fa-bars{
        color: $primary-color-40;
      }
    }
  }
}
/* #headerLogo{
  @include displayFlex();
  @include alignItems(center);
  //padding: $spacing;
  .logo-svg-wrap{
    display: inline-block;
   height: 5rem;
  }
  .logo-svg{
    
  }
} */

#headerPrimary {
  width: 90%;
  @include mqMin($break-m) {
    width: 70%;
  }
}

#headerSecondary {
  padding-right: $spacing-double;
  .button.is-outlined{
    border-color:  $primary-color-40;
  }
}
#headerUserMenu {
 
 
  @include mqMin($break-l) {
    li {
      //height: $header-h-s;
      //border-bottom: solid 1px $primary-color-30;
      //line-height: $header-h-s;
      //padding: 0 $spacing;
      &:hover {
        background-color: $primary-color-20;
      }
      .fas{
        margin-right: $spacing;
      }
    
    }
  }

}

/* Sticky header
-------------------------------------------------- */
.sticky-header {
  #header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  #page {
    padding-top: $header-h;

    @include mqMin($break-l) {
      padding-top: $header-h-l;
    }
  }
}