<vds-page-header [title]="title"></vds-page-header>
<!-- Tooltip -->
<h2>Tooltips on hover</h2>
<div>
  <button type="button" class="button">
    <vds-tooltip title="Top tooltip">
      Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
      tincidunt
      tempus
    </vds-tooltip>
  </button>

  <button type="button" class="button">
  <vds-tooltip title="Right tooltip" position="right">
    Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
    tincidunt
    tempus
  </vds-tooltip>
  </button>

  <button type="button" class="button">
  <vds-tooltip title="Bottom tooltip" position="bottom">
    Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
    tincidunt
    tempus
  </vds-tooltip>
  </button>

  <button type="button" class="button">
  <vds-tooltip title="Left tooltip" position="left">
    Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
    tincidunt
    tempus
  </vds-tooltip>
  </button>

</div>

<h2>Tooltips on click</h2>
<div>
    <button type="button" class="button">
      <vds-tooltip title="Top tooltip" show="on-click">
        Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
        tincidunt
        tempus
      </vds-tooltip>
    </button>
  
    <button type="button" class="button">
    <vds-tooltip title="Right tooltip" position="right" show="on-click">
      Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
      tincidunt
      tempus
    </vds-tooltip>
    </button>
  
    <button type="button" class="button">
    <vds-tooltip title="Bottom tooltip" position="bottom" show="on-click">
      Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
      tincidunt
      tempus
    </vds-tooltip>
    </button>
  
    <button type="button" class="button">
    <vds-tooltip title="Left tooltip" position="left" show="on-click">
      Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
      tincidunt
      tempus
    </vds-tooltip>
    </button>
  
  </div>

<h2>Tooltips inverse color</h2>
<div>
    <button type="button" class="button">
      <vds-tooltip title="Top tooltip" inverse="true">
        Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
        tincidunt
        tempus
      </vds-tooltip>
    </button>
  
    <button type="button" class="button">
    <vds-tooltip title="Right tooltip" position="right" inverse="true">
      Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
      tincidunt
      tempus
    </vds-tooltip>
    </button>
  
    <button type="button" class="button">
    <vds-tooltip title="Bottom tooltip" position="bottom" inverse="true">
      Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
      tincidunt
      tempus
    </vds-tooltip>
    </button>
  
    <button type="button" class="button">
    <vds-tooltip title="Left tooltip" position="left" inverse="true">
      Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante tincidunt tempus. Maecenas nec odio et ante
      tincidunt
      tempus
    </vds-tooltip>
    </button>
  
  </div>