// -----------------------------------------------------------------------------
// Custom colors
// -----------------------------------------------------------------------------
// 

// Brand
// https://maketintsandshades.com/#F99E34,004D73,22A863
$primary-color: #004d73;
$secondary-color: #22a863;
$extra-color: #f99e34;

// Primary tints
$primary-color-10: #e6edf1;
$primary-color-20: #ccdbe3;
$primary-color-30: #b3cad5;
$primary-color-40: #99b8c7;
$primary-color-50: #80a6b9;
$primary-color-60: #6694ab;
$primary-color-70: #4d829d;
$primary-color-80: #33718f;
$primary-color-90: #1a5f81;


// Secondary tints
$secondary-color-10: #e9f6ef;
$secondary-color-20: #d3eee0;
$secondary-color-30: #bde5d0;
$secondary-color-40: #a7dcc1;
$secondary-color-50: #91d4b1;
$secondary-color-60: #7acba1;
$secondary-color-70: #64c292;
$secondary-color-80: #4eb982;
$secondary-color-90: #38b173;

// Fonts
$font-color: #00273a;
$font-color-inverse: $primary-color-10; 
$heading-color: $primary-color-80;
$input-color: $primary-color;
$button-color: $primary-color;
$disabled-color: $primary-color-50;
$a-color: $primary-color-80;
$a-hover-color: $primary-color-90;
$focus-color: #5bc0de;
$active-color: #5bc0de;
$light-color: #b3cad5;
$lightest-color: #e6edf1;
$dark-color: #003651;
$darkest-color:#001722;

// Backgrounds
$body-bcg-color: #ffffff;
$bcg-color: #ffffff;
$bcg-color-inverse: $primary-color-80;
$input-bcg-color: $bcg-color;
$input-bcg-disabled-color: #ccc;
$button-bcg-color: $bcg-color;
$table-strip-bcg-color: $primary-color-10;
$table-hover-bcg-color: $primary-color-20;

// Borders
$border-color: $primary-color-20;

