// -----------------------------------------------------------------------------
// Custom header
// -----------------------------------------------------------------------------
#header {
    background: $primary-color;
    color: #fff;

    @include mqMin($break-l) {
        -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);
        box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.2);

    }

}

#headerBrand {
    font-size: 130%;

    a {
        color: $primary-color-10;

        @include displayFlex();
        @include justifyContent(space-between);
        @include alignItems(center);
    }

    .logo-symbol {
        margin-right: $spacing-half;
        font-size: 160%;
        display: inline-block;
        width: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 130%;
        color: $primary-color;
        background: $primary-color-10;
        @include borderRadius(50%);
    }
}

#headerPrimary {
    @include flex(1);

    form {
        padding: 0 $spacing-double;
    }

    .search {
        background: $bcg-color;

        button {
            //background-color: $secondary-color-40;
            color: $primary-color;
        }
    }

}

#headerSecondary {
    >.button {
        color: $primary-color-30;
        font-size: 120%;
    }

    nav {
        li {
            margin-right: $spacing-double;
        }

        a {
            color: $primary-color-30;

            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }

    @include mqMax($break-m) {
        nav {
          @include offcanvas();
            // Slide from right to left
                @include offcanvasToRight();

            // Canvas is on
            &.is-on {
                @include offcanvasIsOn();
            }

            ul {
                background: $primary-color;

                li {
                    font-size: 120%;
                    border-bottom: solid 1px $primary-color-90;

                    a {
                        padding: $spacing 0;
                        display: block;
                    }

                    i {
                        margin-right: $spacing;
                    }
                }
            }

            //top: $header-h;
        }

    }

    @include mqMin($break-m) {
        >.button {
            display: none;
        }

        nav {
            ul {
                display: inline;

                li {
                    display: inline-block;
                }

                i {
                    margin-right: $spacing-half;
                }


            }
        }

    }


}
