// -----------------------------------------------------------------------------
// Snippet
// -----------------------------------------------------------------------------

.panel-card{
  article{
   
  }
 
  footer{
    margin-top: $spacing;
      span{
        font-size: 90%;
        color: $primary-color-80;
        background-color: $primary-color-10;
        padding: 2px $spacing-half;
        border-radius: $border-radius;
      }
  }
}

/* Snippet detail
-------------------------------------------------- */
.snippet{
 header{
 @include flexbox();
 @include align-items(center);
 font-size: 90%;
 
   > *{
    margin-right: $spacing-double;
   }
   .snippet-category{
    @include flexbox();
    @include align-items(center);
     img{
       margin-right: $spacing;
       max-width: 32px;
       max-height: 32px;
     }
   }
 }
 h1{
   border-bottom: solid 1px $border-color;
   margin: $spacing 0 $spacing 0;
   padding-bottom: $spacing;
 }

 
}

.snippet-body{
 
}
